table.puzzle {
  border-collapse: collapse;
}

table.puzzle td {
  padding: 15px;
  width: 15px;
  height: 15px;
  border: 1px solid #000;
}

#solutionContainer {
  display: flex;
  flex-wrap: wrap;
}

#solutionContainer > div {
  margin: 10px;
}

#newStateBtn, #findSolution {
  margin-top: 15px;
}

#disclaimer {
  margin-top: 15px;
}

.container { 
  width: 80%;
  min-width: 320px;
  margin: 0 auto;
}

